#dashboard {
    background-color: #E5F4EC;
    width: 960px;
    padding: 23px;
    position: relative;
}

#dashboard > h1 {
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #3b5249;
    display: inline-block;
}

#add-button {
    display: inline-block;
    position: absolute;
    right: 23px;
    top: 23px;
    border-radius: 0;
    padding: 8px;
    font-size: 1em;
    font-weight: bolder;
    background-color: #8aea92;
    border: 0;
}

#dashboard > h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin: 20px;
}